@import url(../kaufman.css);
@import url(../../rotation/rotation.css);

.kaufman__triangle_img{
    position: absolute;
    right: -210px;
    height: 877px;
    width: 877px;
    animation: rotation 20s linear infinite;
  }